#favorites.sidebar
      header
        span Accept
        ul.list-inline
          li.list-inline-item.d-lg-none.d-sm-block
            a.btn.btn-light.sidebar-close(href='#')
              i.ti-close
      form(action='')
        input.form-control(type='text' placeholder='Search favorites')
      .sidebar-body(tabindex='5' style='overflow: hidden; outline: none;')
        ul.list-group.list-group-flush.users-list#acceptedFriends


#favorites.sidebar
      header
        span Your Request
        ul.list-inline
          li.list-inline-item.d-lg-none.d-sm-block
            a.btn.btn-light.sidebar-close(href='#')
              i.ti-close
      form(action='')
        input.form-control(type='text' placeholder='Search favorites')
      .sidebar-body(tabindex='5' style='overflow: hidden; outline: none;')
        ul.list-group.list-group-flush.users-list#requestsAcceptForYou
         